.idea/

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

**/logs/

# Ignore Compiled class file
*.class

.settings
bin
.project*
.classpath

settings.gradle

